#container {
    display:grid;
    width: 500px;
    height: 500px;

}
.grid {
    background-color:white;
    border:1px solid black;

}
#flex-container {
    display:flex;
    width: 700px;    /* changes the size of grid*/
    height: 700px;
    align-self:center;
    background-color:green;
}
#wrapper {
    display:flex;
    width:100vw;
    height:100vh;
    align-content: center;
    justify-content: center;
}
